@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
<h1>Erişim izni yok.</h1>

<a asp-action="GetAllCustomers" asp-controller="Customers" class="btn btn-secondary col-2">@localizer["Geri Dön"]</a>