@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model UpdatePasswordVM
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "AuthLayout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login V19</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <li class="nav-item d-none d-sm-inline-block m-2">
        <partial name="_Culture" />
    </li>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">

                @if (ViewBag.State == null)
                {
                    <form class="login100-form validate-form" asp-controller="Auth" asp-action="UpdatePassword" method="post" autocomplete="off">
                        <span class="login100-form-title p-b-33">
                            @localizer["Şifre Sıfırlama İsteği"]
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <input type="password" class="input100" placeholder=@localizer["Yeni Şifreni Gir"] asp-for="Password" />
                            <span class="focus-input100-1"></span>
                            <span class="focus-input100-2"></span>
                            
                        </div>
                        <span asp-validation-for="Password"></span>
                        <div class="container-login100-form-btn m-t-20">
                            <button class="login100-form-btn" type="submit">
                                @localizer["Şifre Sıfırla"]
                            </button>
                        </div>

                    </form>

                }
                else
                {
                    if (ViewBag.State)
                    {
                        <div class="alert-error">
                            Şifre Güncelleme Başarılı.
                            <br>
                            <a href="/Auth/Login" class="btn btn-dark mt-3 float-left">
                                @localizer["Giriş Yap"]
                            </a>
                        </div>
                    }
                    else
                    {
                        @:
                        <div class="alert-success">Şifreyi güncellerken beklenmeyen hatayla karşılaşıldı.</div>
                    }
                }
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>

</html>